@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-calendar/dist/Calendar.css";
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark a {
  color: #90caf9;
}
